.ProjectItemStyle {
    width: 100%;
    height: 300px;
    border-radius: 2px;
    border: 2px solid var(--border-color);
    display: flex;
    margin-bottom: 80px;

    .LeftItem {


        width: 50%;
        border-right: 2px solid var(--border-color);


        .Slipe {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                vertical-align: baseline;
            }
        }

    }

    .RightItem {
        width: 50%;
        height: 100%;
        overflow: hidden;


        .MainTitle {
            text-align: center;
            padding: 8px 0;
            border-bottom: 1px solid var(--border-color);
            color: var(--project-title);
            font-weight: 600;
        }

        .MainContent {
            padding: 12px 0 12px 20px;

            // overflow-y: scroll;

            .ContentItem {
                display: flex;

                a,
                p {
                    word-wrap: break-word;
                    font-size: 0.9rem;
                    padding-bottom: 8px;


                }

                a:hover {
                    color: var(--primary-color);
                }


                .LeftContent {
                    width: 33.33%;

                }

                .RightContent {

                    width: 66.67%;
                }
            }
        }

    }

    @media (max-width: 1023px) {
        flex-direction: column;

        .RightItem,
        .LeftItem {
            width: 100%;
        }
    }

    @media (min-width: 740px) and (max-width :1023px) {}

    @media (max-width: 739px) {}

}

@keyframes animationProject {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.04);
    }
}

.ProjectItemStyle:hover {
    cursor: pointer;
    border: 2px solid var(--primary-color);
    animation: animationProject ease 1.2s;
}