

@keyframes animateOn {
    from{
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.sidebarmobile{
    display:none;
}

@keyframes animateOff {
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(-50%);
    }
}
.theme-section{
    position: fixed;
    right: 0;
    z-index: 1000;
    top: 12%;
    background-color: var(--background-light-color-2);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.light-dark-mode{
    display: flex;
    margin-top:2px;
}

.left-content svg{
    margin-top: 4px;
    margin-left: 10px ;
    color: var(--white-color);   
}


@media (max-width: 1023px){
    .sidebarmobile{
        right: 12%;
        top:8.5%;
        margin-right: 8px;
        cursor: pointer;
        display:block;
        position:fixed;
        z-index: 200;
    }
    .sidebarmobile svg{
        font-size: 2.5rem;
        color:#ccc;
    }

    .theme-section{
        top: 9%;
    }
}

@media (min-width: 740px) and (max-width :1023px){

}

@media (max-width: 739px){
    .sidebarmobile{
        right: 1%;
        top:1.5%;
        margin-right: 8px;
        cursor: pointer;
        display:block;
        position:fixed;
        z-index: 200;
    }
    .sidebarmobile svg{
        font-size: 2.5rem;
        color:#ccc;
    }

    .theme-section{
        top: 9%;
    }
}
