.ImageSectionStyled {
    margin-top: 5rem;
    display: flex;
    z-index: 99;

    .leftContent {
        width: 100%;

        img {
            width: 83%;
            object-fit: cover;

        }
    }

    .rightContent {
        width: 100%;

        h4 {
            font-size: 1.6rem;
            color: var(--font-title-color-1);

            span {
                font-size: 1.6rem;
                color: var(--primary-color);
                letter-spacing: 1px;
            }
        }

        .paragraph {
            font-size: 0.9rem;
            padding: 1rem 0;
        }

        .aboutInfo {
            display: flex;
            padding-bottom: 1.4rem;
            font-size: 1rem;

            .infoTitle {
                padding-right: 3rem;

                p {
                    font-weight: 600;
                }
            }

            .infoTitle,
            .info {
                p {
                    font-size: 1.02rem;
                    padding: .3rem 0;
                }
            }
        }
    }

    @media (max-width: 1023px) {
        flex-direction: column;

        .rightContent {
            margin-top: 60px;
        }
    }

    @media (min-width: 740px) and (max-width :1023px) {}

    @media (max-width: 739px) {}
}